.voluntary{
    position: fixed;
    width: 214px;
    right: 0;
    bottom: 50%;
    transform:translateY(154px);
}
.voluntary .content{
    position: relative;
    padding: 10px 18px 10px 10px;
    height: 308px;
    background-color: #fff;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 0px 10px;
    border: solid 1px #e5e5e5;
}
.voluntary .content::before{
    content: "";
    display: block;
    position: absolute;
    left: -40px;
    top: 0;
    width: 40px;
	height: 185px;
	background-color: #32323a;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
    border-radius: 4px 0 0 4px;
}

.tab{ 
    width: 80px; 
    text-align: center;
    border-color: #1fb5ab;
    &:first-child{
        border-color: #1fb5ab;
    }
}
.ant-table-body{
    td{
        white-space: normal;
    }
}